* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 0 42px;
}

.link-header {
    width: 79px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.88px;
    margin-right: 32px;
    cursor: pointer;
}

.botao-1 {
    width: 124px;
    height: 51px;
    border: 1px solid #4CB538;
    border-radius: 6px;
    background: #6FBF44;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    border-width: 1px;
}

.img-logo {
    margin-top: 246px;
    margin-left: 121px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px
}

h1 {
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    width: 582px;
    height: 164px;
    color: #161A49;
}

p {
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.learn {
    color: #6FBF44;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;

}
@media screen and (max-width:900px){



    
}